<div class="innercontent clearfix">
				<div class="padding">
					<h1>Certificates/IRA's</h1>
					<p>
						Earn higher <%= link_to "rates", rates_path(:anchor=>"cert") %> on your investments with a Class Act FCU Share Certificates!&nbsp;  Many terms are
						available to fit your needs.
					</p>
				</div>
			</div>