<div class="innercontent clearfix">
				<div class="padding">
					<h1>Checking</h1>
					<p>
						Word is getting around about the benefits of a Class Act FCU checking account.
						If you're tired of paying high monthly service fees on your current checking account, 
						then open a Class Act FCU checking account and start enjoying the Credit Union difference!
					</p>
					<h2>Honors Checking</h2>
					<p>
						Class Act FCU is proud to offer a new checking account that is sure to make your money smarter. 
						It&#39;s time to move up to Honors Checking and earn 4.0% APY* on your checking account for
						things you already do.&nbsp; There are 3 simple requirements to qualify for Honors Checking: 
					</p>
					<ol>
						<li>At least 10 debit card transactions with an aggregate amount of greater than $200 per month </li>
						<li>At least one Direct Deposit defined as an ACH Payroll Deposit from an employer or an employer’s retirement plan. </li>
						<li>Log into home banking at least once during the month and receive e-statements. </li>
					</ol>
					<p>
						If you meet all these requirements, you will be placed on our Honor Roll, which means your
						Honors Checking will earn 4.0!&nbsp; You will also be refunded ATM fees from any ATM** that
						you were charged throughout the month. It doesn&#39;t get any easier than that!&nbsp; Email
						us today to get on the Honor Roll!
					</p>
					<p class="smalli">
						*4.0 Annual Percentage Yield (APY) paid on balances between $0.01 and $25,000, 1.01% APY
						paid on all amounts above $25,000 each cycle when the minimum requirements are met.&nbsp; If
						requirements are not met in the cycle, your account will still function as a free checking
						account earning 0.25% APY; however, it will not receive ATM fee refunds for that time
						period.&nbsp; Rates as of January 1, 2009.&nbsp; Interest Rate and APY may change at 
						anytime.&nbsp; No minimum balance required.&nbsp; Member must qualify for checking
						account.&nbsp; Personal accounts only.&nbsp; No monthly service charge.&nbsp; Only one
						Honors Checking account per member.&nbsp; ** ATM fee refunds up to $25 per month when 
						requirements are met.&nbsp; Does not apply to ATMs outside the US.
					</p>
					<h2>Service, Service...</h2>
					<p>
						Service to our members is our number one goal. Check out all of the benefits that come
						with a <strong>Straight A</strong> Checking Account!
					</p>
					<ul>
						<li>No Per Check Charge</li>
						<li>No Minimum Balance Required</li>
						<li>Unlimited Check Writing Privileges</li>
						<li>Carbonless Copy Checks (first 50 free)</li>
						<li><%= link_to "Express Check", "#",  :rel=>"external" %> Debit Card</li>
						<li>ATM/MAC&reg; Access (5 free &#39;foreign&#39; withdrawals monthly)</li>
						<li>Unlimited Free Point Of Sale Transactions</li>
						<li>24-Hour Express Line</li>
						<li>Free <strong>CyberBranch@Home</strong> Online Account Access</li>
						<li>"Express" Deposit of Payroll Check</li>
						<li>Direct Deposit</li>
						<li>Overdraft Protection Line-of-Credit</li>
						<li>Overdraft Protection from Shares (fee may apply)</li>
						<li>Automatic Debits (ACH)</li>
						<li>All of this for <strong>NO Monthly Service Charge</strong></li>
					</ul>
					<h2>Full-Service Checking</h2>
					<p>
						You asked for it, and your Credit Union is giving it to you!&nbsp; An Express Check 
						Debit Card will make check writing as simple as a credit card transaction.&nbsp; Your
						Express Check Debit Card will work like a check and will have the added convenience
						of being an ATM card.&nbsp; Your card will be accepted by any retailer that displays
						the MasterCard&reg; logo.
					</p>
					<p>
						For automatic deposit into your checking account, check into Express Deposit and Direct
						Deposit.&nbsp; These great timesaving services are a must for people on the go.&nbsp; When
						you open your Class Act FCU checking account, the first 50 checks are free!
					</p>
					<h2>55 or Over?</h2>
					<p>
						Our Classic 55 Club checking account gives you all the benefits and services of our regular
						checking account, plus:
					</p>
					<ul>
						<li>Free Checks</li>
						<li>No Monthly Service Fee</li>
						<li>20% Discount on Safe Deposit Box Rental</li>
						<li>Free Money Orders</li>
						<li>and More!!</li>
					</ul>
					<p>
						For more information see our <%= link_to "Rate and Fee Schedule", ratesch_path(:anchor => "draft") %>.
					</p>
				</div>
			</div>