<div class="innercontent clearfix">
				<div class="padding">
					<h1>We would love to hear from you!</h1>
					<p class="centertext">Please tell us what you think of our Web site.</p>
					<p class="centertext">Email: <%= mail_to "members@classact.org", "members@classact.org" %></p>
					<p class="lightgray">
						<span class="redsmall">Disclaimer:</span> When emailing the Credit Union, 
						please do not include your account number in any correspondence due to
						the insecure nature of email.&nbsp; If additional information is needed by
						us we will contact you in another manner.
					</p>
				</div>
			</div>