<div id="faq">
			<h3>Cyber Branch FAQ</h3>
			<dl>
				<dt>What browser should I use to access Home Branch?</dt>
				<dd>
					<p>
						You must use a browser that supports encryption. Netscape Navigator or Microsoft IE 
						versions 3.0 and higher are recommended.
					</p>
				</dd>
				<dt>Where do I find my Personal Identification Number? And can I change my PIN?</dt>
				<dd>
					<p>
						The PIN used for Home Branch is the same one used for Express Line (Automated Telephone
						Teller). If you&#39;ve forgotten the PIN, you can call one of our Representatives at 
						800.292.2960 and (after verification of your identity) we will mail it to your address.
					</p>
					<p>
						You can change your PIN, either through Home Branch or through Express 
						Line. The revised PIN will work for both systems. You must use a 4 digit 
						numeric PIN for this purpose, since the Express Line system only accepts 
						numbers.
					</p>
				</dd>
				<dt>When logging on, I received a message asking me to allow the system to set a cookie. What does this mean?</dt>
				<dd>
					<p>
						Home Branch assigns a random session ID each time you 
						log in. This ID is verified each time you send or receive information from 
						Home Branch. The session ID provides security for your private information 
						by responding only to requests that are intended for you. The session 
						cookie is not stored on your computer, and it is dismissed when you exit 
						your browser, or are logged out after the inactivity period. Without 
						accepting this session ID (cookie), you cannot explore your accounts with 
						Home Branch.
					</p>
				</dd>
				<dt>I keep getting &quot;time out&quot; messages each time I try to explore
				  my account information.</dt>
				<dd>
					<p>
						You may not have your browser set to allow &quot;cookies&quot;.  See the
						question above.
					</p>
				</dd>
				<dt>What functions are available through Home Branch?</dt>
				<dd>
					<p>
						Transfers between suffixes, loan payments, account inquiries,
						transaction history, verification of cleared checks, and withdrawals (a
						check is mailed to you). Soon, an optional bill payer system will be available for a small fee.
					</p>
				</dd>
				<dt>Is there a fee for using Home Branch?<br />
				    <br />
                </dt>
				<dd>There is no fee for using the basic functions of Home Branch.<br />
				    <br />
                </dd>
				<dt>When will transactions be posted?</dt>
				<dd>
					<p>
						The system is online and real time. Your account will be updated as
						soon as you complete the transaction.
					</p>
				</dd>
				<dt>May I download information to my financial management software?<br />
				    <br />
                </dt>
				<dd>Yes, Home Branch allows downloading to either Quicken or Microsoft Money.<br />
				    <br />
                </dd>
				<dt>For what periods is &quot;transaction history&quot; and check verification
			      available?<br />
			      <br />
                </dt>
				<dd>Home Branch allows you to span a years worth of transaction activity!<br />
				    <br />
                </dd>
				<dt>What about security issues? Can other people see my accounts or watchwhat I'm doing with my transactions?</dt>
				<dd>
					<p>
						We use the best available technology in security, firewalls
						  and encryption. Also, if your Home Branch session is
						  inactive for more than a few minutes, the session will
						  &quot;time out&quot;,
						  requiring you to enter your account and PIN again before
						  continuing. As an additional security measure, Home Branch will only
						  accept three (3) invalid PIN attempts before locking the account out.
						  We advise you not to share your PIN with others, or to keep it in any
						  place readily accessible to others. You may want to <%= link_to "check out our separate section on Security Information", hb_security_path %>.
					</p>
				</dd>
				<dt>Can I transfer funds between separate accounts?</dt>
				<dd>
					<p>
						Yes!! Simply sign a Cross Account Authorization card to authorize the cross account access. 
						You can then transfer funds between your account and anyone else who you 
						have given authorization to.
					</p>
				</dd>
			</dl>
		</div>