<div class="innercontent clearfix">
				<div class="padding">
					<h1>Loans</h1>
					<p>CAFCU offers members an array of loans to fit every need.</p>
					We offer:
					<ul>
						<li>Personal/Signature Loans</li>
						<li>Classic Cash Line of Credit, Mastercard</li>
						<li>Share Secured Loans</li>
						<li>Computer Loans</li>
						<li>Appliance Loans</li>
						<li>New/Used Vehicle Loans</li>
						<li>Recreational Vehicle Loans</li>
						<li>New/Used School Bus</li>
						<li>New/Used Motorcycle Loans</li>
					</ul>
					<p>
						For current rates on our loans, <%= link_to "Click Here", rates_path(:anchor=>"loans") %>.&nbsp; <%= link_to "Apply for a loan online", "https://www.loanliner.com/ICE/presenter/default.asp?CuIdNr=01601356&amp;LReqFormIdNr=2251210000216194617&amp;ORIGIN_CHANNEL_ID=4922930000206123721&amp;ORIGIN_LOCATION_ID=4922930000206123721", :rel=>"external" %>.
					</p>
				</div>
			</div>