<div id="main">
      <div class="innercontent clearfix">
      	<div class="padding">
          <h1>Locations</h1>
          
<table class="locations">
                <tr>
                  <th colspan="2"> Main Branch Info
                  </th>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td>3620 Fern Valley Road, Louisville, KY  40219</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>(502) 964-7575</td>
                </tr>
                <tr>
                  <td></td>
                  <td>(800) 292-2960 (Toll-free)</td>
                </tr>
                <tr>
                  <td>Fax:</td>
                  <td>(502) 966-2061</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td><%= mail_to "members@classact.org", "members@classact.org" %></td>
                </tr>
                <tr>
                  <td>Hours:</td>
                  <td>Mon - Thur (Lobby): 9:30 am - 5:00 pm<br />
                    Mon - Thur (Drive-Thru): 9:00 am - 5:00 pm<br />
                    Friday (Lobby): 9:00 am - 5:00 pm<br />
                    Friday (Drive-Thru): 9:00 am - 5:30 pm</td>
                </tr>
                <tr>
                  <td colspan="2">ATM 24 HOURS</td>
                </tr>
            </table>
 
              
          <table class="locations">
            <tr>
              <th colspan="2">&nbsp; </th>
            </tr>
            <tr>
              <th colspan="2">U of L Branch<br />
                (Students only)</th>
            </tr>
            <tr>
              <td>Location:</td>
              <td>SAC Building<br />
                Food Court<br />
                <br /></td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>(502) 852-7321</td>
            </tr>
            <tr>
              <td>Hours:</td>
              <td>Mon - Thur: 9:00 - 4:30<br />
                Friday: 9:00 - 5:00</td>
            </tr>
            <tr>
              <td colspan="2">ATM 24 HOURS</td>
            </tr>
          </table>
           
           
		  <table class="locations">
             <tr>
               <td colspan="2">&nbsp; </td>
             </tr>
             <tr>
               <th colspan="2">CU Center #1 Branch</th>
             </tr>
             <tr>
               <td>Location:</td>
               <td>4917-B Dixie Hwy<br />                 Louisville, KY  40216<br />Sears Essentials Shopping Plaza</td>
             </tr>
             <tr>
               <td>Phone:</td>
               <td>(502) 448-1686</td>
             </tr>
             <tr>
               <td>Hours:</td>
               <td>Mon - Friday: 9:00 - 7:00<br />Saturday: 9:00 - 2:00</td>
             </tr>
             <tr>
               <td colspan="2">Open on Christmas Eve and New Year’s Eve from 9 – noon but will be closed on Christmas Day and New Year’s Day.  The shared branches will be open 9 – 2 as usual on Saturday, December 26th and January 2nd.  ATM 24 HOURS</td>
             </tr>
          </table>
      
<table class="locations">
                 <tr>
                   <th colspan="2">CU Center #2 Branch</th>
                 </tr>
                 <tr>
                   <td>Location:</td>
                   <td>2925 Goose Creek Rd.<br />
                     Louisville, KY  40241<br />
                     Next to Wicks Pizza <br />
                   </td>
                 </tr>
                <tr>
                     <td>Phone:</td>
                 <td>(502) 429-0068</td>
                </tr>
                   <tr>
                     <td>Hours:</td>
                     <td>Mon - Friday: 9:00 - 7:00<br />Saturday: 9:00 - 2:00</td>
                   </tr>
                <tr>
                 <td colspan="2">Open on Christmas Eve and New Year’s Eve from 9 – noon but will be closed on Christmas Day and New Year’s Day.  The shared branches will be open 9 – 2 as usual on Saturday, December 26th and January 2nd.  ATM 24 HOURS</td>

                </tr>
              </table>
           
			  <table class="locations">
                 <tr>
                   <th colspan="2">Emergency Numbers</th>
                 </tr>
                 <tr>
                   <td>MasterCard Lost or Stolen</td>
                   <td>(800) 325-3678</td>
                 </tr>
                 <tr>
                   <td>Express
                     Check Card Lost or Stolen</td>
                   <td>(800) 528-2273</td>
                 </tr>
                 <tr>
                   <td>MasterCard Balance Inquiry</td>
                   <td>(800) 237-6211</td>
                 </tr> 
              </table>
              
              
			  <a name="holiday" id="holiday"></a>
			  <table class="locations">
                  <tr>
                    <th colspan="2">Holiday Schedule</th>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                  <tr> 
                    <td class="iright"> January 18, 2010</td>
                    <td>Martin Luther King Day</td>
                  </tr>
                  <tr> 
                    <td class="iright"> February 15, 2010</td>
                    <td>Presidents Day</td>
                  </tr>
                  <tr>
                    <td class="iright"> May 31, 2010</td>
                    <td>Memorial Day</td>
                  </tr>
                  <tr> 
                    <td class="iright">July 5, 2010</td>
                    <td>Independence Day</td>
                  </tr>
                  <tr>
                    <td class="iright">September 5, 2010</td>
                    <td>Labor Day</td>
                  </tr>
                  <tr>
                    <td class="iright">October 11, 2010</td>
                    <td>Columbus Day</td>
                  </tr>
                  <tr>
                    <td class="iright">November 25, 2010</td>
                    <td>Thanksgiving Day</td>
                  </tr>
                  <tr>
                    <td class="iright">December 24, 2010</td>
                    <td>Christmas Eve</td>
                  </tr>
              </table>
          
          
      	</div>
      	</div>
      </div>