<div class="innercontent clearfix">
				<div class="padding">
					<h1>A Note To Our Members:</h1>
          <p>CAFCU is committed to making available financial products and services
            that will enable you to meet your financial needs and reach your financial
            goals.  Protecting personal information and using it in a manner consistent
            with your expectations is a high priority for everyone associated with
            our Credit Union. </p>
          <p>As a member of CAFCU, you also have a responsibility to safeguard your
            financial information. </p>
          <p>To ensure that you can rely upon the quality of products and services
            we make available, CAFCU stands behind the following privacy policy:</p>
          <ol>
            <li>CAFCU will collect only the personal information that is necessary to conduct
              business.  That means just what is necessary to provide competitive financial
              products and services -- no more. </li>
            <li>CAFCU will protect your personal information.  CAFCU will maintain strong
              security controls to ensure that member information in our files and computers
              is protected.  Where appropriate, we will use security-coding techniques
              to protect against unauthorized access to personal records, ensure accuracy
              and integrity of communications and transactions, and protect member
              confidentiality. </li>
            <li>You will always have access to your information.  As a member of CAFCU,
              you will always have the opportunity to review your information and make
              necessary changes to ensure that our records are complete and accurate. </li>
            <li>CAFCU will only share information when absolutely necessary.  We will
              only share information to administer products and services we provide,
              to comply with regulatory requirements, or to offer a broader array of
              products and services in partnership with other businesses.  This is the 
              same policy for any and all information gathered from members from any 
              other method. </li>
            <li>CAFCU will partner only with businesses that follow strict confidentiality
              requirements.  The businesses we select will offer products designed to 
              enhance our members' economic well being.  Under no circumstances will we 
              authorize these firms to charge your account without express written consent 
              from you and we will not sell member information to telemarketing firms. </li>
            <li>CAFCU will offer you a choice in how your information is used.  Any member 
              of CAFCU may elect to keep their information from being shared with our business 
              partners.  We will inform you on how to exercise your choice and we will take 
              all reasonable steps to make sure your requests are followed.  At least 
              once a year, we will remind all members of your right to choose.</li>
          </ol>
          <h1>Privacy Disclosure For<br />Class Act Federal Credit Union Website</h1>
          <h2>Member-Only Information Area:</h2>
          <p>CAFCU collects and stores, for staff use only, 
            names, addresses, phone numbers, email addresses, user ids, and passwords for 
            members who register to access the member-only areas of the website.  This information 
            may be used in surveys to improve the quality of the site.  Information will not be sold 
            or given to third parties.</p>
          <h2>General Information Areas:</h2>
          <p>CAFCU collects information on domain names, dates, and times 
            of site visits.  This information allows us to track site use, measure traffic, and 
            improve navigation and information.  Information will not be sold or given to third parties.</p>
          <h2>On-Line Registration:</h2>
          <p>Registration information is encrypted when you submit it.  Information 
            will not be sold or given to third parties.</p>
          <h2>E-Mail:</h2>
          <p>CAFCU may use feedback information from members and non-members to respond to inquiries, 
            comments, or suggestions.  Information will not be sold or given to third parties.</p>
          <p>Email your questions and comments about this website to <%= mail_to "members@classact.org", "Class Act Federal Credit Union" %> or phone (502) 964-7575 or 1-800-292-2960.</p>
      	</div>
      </div>